* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}

header {
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    z-index: 10;
}

.container {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

ul {
    display: flex;
    gap: 15px;
}

.menu-items ul li a, .logo a {
    color: #fff;
}

.menuitem{
    opacity: 0.5;
    transition: .5s;
}
.menuitem:hover{
    opacity: 1;
}
.dropdown {
    border: none;
    background: transparent;
    color: #fff;
    cursor: pointer;
}
.dropdown option{
    color: #fff;
    background-color: black;
    padding: 5px;
    cursor: pointer;
}
.logo a {
    font-weight: bold;
    font-size: 26px;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 740px;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: fixed;
    background-image:url("https://preview.colorlib.com/theme/action/images/bg_hero.jpg.webp") ;
}

.content{
    width: 80%;
    color: #fff;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
button {
    background-color: black;
    color: #fff;
    border-radius: 100px;
    padding:10px;
    width: 130px;
    cursor: pointer;
    letter-spacing: 1px;
    font-weight: 600;
    border: 3px solid purple;
    transition: 1s;
}
.content button:hover{
    background-color: purple;
}
.content-text p {
    font-size: 70px;
    font-weight: 700;
}