* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: center;
    width: 100%;
    border-bottom: solid 5px rgb(246,246,246)
}
.navbar {
    width: 83%;
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
    background: rgb(255, 255, 255);
}

.logo a {
    font-size: 20px;
    color: rgb(30, 30, 30);
    font-weight: 900;
}
ul {
    display: flex;
    gap: 50px;
}
ul li a {
    color: rgb(126,126,126);
}
ul li:nth-child(1) a{
    color:rgb(233,126,86);
}

.schedule {
    padding: 4px 10px 4px 30px;
    background-color: #1E1E1E;
    position: relative;
    border-radius: 15px;
}
.schedule i {
    font-size: 10px;
    padding: 8px;
    background-color:#F85326 ;
    color: #fff;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 15px;
}
.schedule a {
    color: #fff;
    font-size: 13px;
}

.cards {
    display: flex;
    justify-content:center;
    margin-top: 15px;
    gap: 15px;
}

.card1 {
    height: 510px;
    width: 400px;
    background-color: rgb(250,250,250);
    border-radius: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.card-content {
    width: 80%;
}
.card1-img {
    height: 240px;
    display: flex;
    justify-content: center;
    padding-top: 20px; 
}
.card1-img img {
    border-radius: 10px;
    width: 100%;
    opacity: 0.8;
}
.card1-img img:hover {
    opacity: 1;
    cursor: pointer;
}
 .text {
    padding-top: 20px;
    position: relative;
    width: 100%;
 }
 .text span:first-child {
   padding: 5px;
   background: rgb(248,219,208);
   border-radius: 5px;
   color: rgb(16, 15, 15);
   font-size: 13px;
 }
 
.text span:last-child {
    position: absolute;
    right: 0;
    color: rgb(231,98,31);
    font-weight: bold;
    font-size: 18px;
}
.heading {
    padding-top:25px;
}
.heading span {
    color:#281924 ;
    font-size: 18px;
    font-weight: 700;
}
.details {
    padding-top: 25px;
    gap: 15px;
    display: flex;
}
.details,.details2 {
    color: #253440;
}
.details-text {
    color: #838088;
}
.details2 {
    padding: 10px 0 25px 0;
    gap: 15px;
    display: flex;
    border-bottom: 2px solid #F4F4F4;
}
.btn {
    text-align: center;
    margin-top: 25px;
  
}
button {
    padding: 5px 28px;
    border-radius: 15px;
    border: none;
    background-color: #1E1E1E;
    color: #fff;
    cursor: pointer;
    opacity: 0.8;
}
button:hover {
    opacity: 1;
}

